.Header {
}

.Searchbar {
	input[name="q"] {
		width: 100%;
		cursor: text;

		& + p {
			text-align: right;
			font-size: 0.8em;
			margin-top: 0;
		}
	}

	fieldset {
		padding: 0;
		margin: 0;
		border: none;
		text-align: right;

		& > button {
			margin: 0.5em 0;
		}
	}
}

.Table {
	width: 100%;

	th {
		&:nth-child(1) {
			width: 2em;
		}

		&:nth-child(2) {
			width: 22ch;
		}

		&:nth-child(5) {
			width: 7ch;
		}
	}

	.Toggle {
		cursor: pointer;
	}

	.Detail {
		& > td {
			padding: 0 1em;
		}

		pre {
			white-space: pre-wrap;
		}
	}
}

.Description {
	& > * {
		display: inline-block;
		margin: 0;
	}

	& > *:nth-child(odd) {
		width: 20%;
	}

	& > *:nth-child(even) {
		width: 75%;
	}
}
