.Header {
}

.Searchbar {
	input, select {
		margin: 0.5em 0;

		&[dirty] {
			border-color: blue;
		}
	}

	input[type="text"] {
		&[name="q"] {
			width: 100%;
		}
	}

	p {
		text-align: right;
		font-size: 0.8em;
		margin-top: 0;
	}

	select {
		&[name="sort"] {
			float: right;
		}
	}
}

.Table {
	width: 100%;
}
