@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500&display=swap');

:root {
	--primary: #e56800;
	--primary-light: #FF9B33;
	--background: #f0efe7;
	--background-light: #fcfcfa;
	--background-dark: #BDBCB4;
}


body {
	max-width: 960px;
	margin: auto;
	font-family: Montserrat, sans-serif;
	font-weight: 300;
	background: var(--background);
}

#root > * {
	margin: 1em 0;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	color: var(--primary);
}

h1, h2 {
	font-weight: 500;
}

h3, h4, h5, h6 {
	font-weight: 300;
}

input {
	background: var(--background-light);
	border-radius: 0;
	border: 1px solid var(--background-dark);
	padding: 0.5em;
}

input:focus {
	border-color: var(--primary);
}

table {
	border-collapse: collapse;
}

table th {
	text-align: left;
	text-transform: capitalize;
	font-weight: 500;
	font-variant: small-caps;
}

table thead {
	border-bottom: 2px solid var(--background-dark);
}

table tr td, .Table tr th {
	padding: 0.5em;
}

table tbody tr:nth-child(odd) {
	background: var(--background-light);
}
