:global {
	@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500&display=swap');
	@import url('normalize.css/normalize.css');

	$primary: #e56800;
	$primary-light: #FF9B33;
	$background: #f0efe7;
	$background-light: #fcfcfa;
	$background-dark: #BDBCB4;

	body {
		max-width: 960px;
		margin: 0 auto;
		padding: 0 1em;
		font-family: Montserrat, sans-serif;
		font-weight: 300;
		background: $background;
	}

	body * {
		margin: 1em 0;
		box-sizing: border-box;
	}

	h1, h2, h3, h4, h5, h6 {
		color: $primary;
		margin: 0;
	}

	h1, h2 {
		font-weight: 500;
	}

	h3, h4, h5, h6 {
		font-weight: 300;
	}

	input {
		background: $background-light;
		border-radius: 0;
		border: 1px solid $background-dark;
		padding: 0.5em;

		&:focus {
			border-color: $primary;
		}
	}

	table {
		border-collapse: collapse;
		border-bottom: 1px solid $background-dark;

		thead {
			border-bottom: 2px solid $background-dark;

			th {
				text-align: left;
				text-transform: capitalize;
				font-weight: 500;
				font-variant: small-caps;
				padding: 0.5em;
			}
		}

		tbody {
			tr {
				td {
					padding: 0.5em;
					overflow: hidden;
				}
			}

			tr:nth-child(odd) {
				background: $background-light;
			}
		}
	}

	a {
		color: inherit;
		text-decoration: none;

		&:hover {
			color: $primary;
			text-decoration: underline;
		}
	}
}
